<div>
  {% if page.prev %}
    <a href="{{ page.prev }}" class="btn btn-primary"><i class="fa fa-fw fa-hand-o-left fa-lg" aria-hidden="true"></i>Previous part</a>
  {% else %}
    <button disabled="disabled" class="btn btn-primary"><i class="fa fa-fw fa-hand-o-left fa-lg" aria-hidden="true"></i>Previous part</button>
  {% endif %}

  {% if page.next %}
    <a href="{{ page.next }}" class="btn btn-primary"><i class="fa fa-fw fa-hand-o-right fa-lg" aria-hidden="true"></i>Next part</a>
  {% else %}
    <button disabled="disabled" class="btn btn-primary"><i class="fa fa-fw fa-hand-o-right fa-lg" aria-hidden="true"></i>Next part</button>
  {% endif %}
</div>
