@media (max-width: 767px) {
  .card-columns {
    column-count: 1 !important;
  }

  .masonry[data-columns]::before {
    content: '1 .masonry-column.size-1of1';
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-columns {
    column-count: 2 !important;
  }

  .figure-float-right {
    float: right !important;
    max-width: 40%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .masonry[data-columns]::before {
    content: '2 .masonry-column.size-1of2';
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 2 !important;
  }

  .figure-float-right {
    float: right !important;
    max-width: 40%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .masonry[data-columns]::before {
    content: '3 .masonry-column.size-1of3';
  }
}

.masonry[data-columns]::before {
  display: block;
  visibility: hidden;
}

.masonry .card {
  margin-bottom: 1rem;
}

.masonry-column {
  float: left;
}

.size-1of3 {
  width: 33.33%;
}

.size-1of2 {
  width: 50%;
}

.size-1of1 {
  width: 100%;
}

.masonry-column .card {
  margin-right: 1rem;
}

.masonry-column:last-child .card {
  margin-right: 0;
}

.card-body .fa {
  margin-right: 1em !important;
}

.card-header .fa {
  margin-right: .25em !important;
}

.btn .fa {
  margin-right: .5em !important;
}

/* put a comma after each author */
.pub-authors .pub-author::after {
  content: ',';
}

/* unless it is the last author */
.pub-authors .pub-author:last-child::after {
  content: '';
}

/* in which case put an 'and' before */
.pub-authors .pub-author:last-child::before {
  content: ' and ';
}

/* unless it is the only author */
.pub-authors .pub-author:only-child::before {
  content: '';
}

/* or unless there are only two authors, in which case we only use 'and' */
.pub-authors .pub-author:first-child::after {
  content: '';
}

.pub-authors .pub-author:first-child:not(:nth-last-child(2))::after {
  content: ',';
}

.pub-authors .pub-author:only-child::after {
  content: '' !important;
}

.card-header h4 {
  margin-bottom: 0;
  line-height: 1.2em;
}

.ekko-lightbox .modal-body {
  padding-bottom: 0;
}

.pub-card-animate {
  animation-name: pub_highlight_fade;
  animation-duration: 2s;
  background-color: #eeeeee;
}

@keyframes pub_highlight_fade {
  from {
    background-color: #4caf50;
  }
  to {
    background-color: #eeeeee;
  }
}

.hint {
  border-bottom: 1px dotted black;
}

.hyphenate {
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

blockquote {
  padding-left: .5em;
  padding-right: 1em;
  margin-left: .5em;
  border-left: 5px solid #e9ecef;
}

.orcid {
  height: 1em;
  width: 1em;
  position: relative;
  top: -0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

dd {
  margin-left: 1em;
}

dt {
  font-weight: 500;
}

iframe {
  border: none;
}

dd p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
  font-size: .9em;
}

#interactive {
  display: none;
}

div.interactive {
  padding-bottom: 2em;
  clear: both;
}

.interactive .output {
  padding: .5em;
  border: 1.5px solid;
  font-size: .9em;
}

.interactive .output-empty {
  display: none;
}

.interactive .output-success {
  border-color: green;
}

.interactive .output-failure {
  border-color: red;
}

@keyframes border_pending {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: yellow;
  }
}

.interactive .output-pending {
  animation: border_pending 1s infinite;
}

.interactive .output-pending::before {
  content: "Pending ...";
}

.output-string {
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: anywhere;
  font-size: .9em;
}

.output-string::before {
  content: '"';
}

.output-string::after {
  content: '"';
}

.interactive .output > table {
  margin: -.5em;
}

.interactive .output table {
  border-collapse: collapse;
}

.interactive .output td > table {
  margin: -.2em;
}

.interactive .output td, .interactive .output th {
  vertical-align: top;
  padding: .2em;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.interactive .output td:last-child, .interactive .output th:last-child {
  border-right: none;
}

.interactive .output tr:last-child > * {
  border-bottom: none;
}
