body {
  padding-top: 3.5rem;
}

@media (min-width: 576px) {
  .card-columns-wide {
    column-count: 1 !important;
  }

  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns-wide {
    column-count: 2 !important;
  }

  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns-wide {
    column-count: 2 !important;
  }

  .card-columns {
    column-count: 3;
  }
}

.card-body .fa {
  margin-right: 1em !important;
}

.card-header .fa {
  margin-right: .25em !important;
}

/* put a comma after each author */
.pub-authors .pub-author::after {
  content: ',';
}

/* unless it is the last author */
.pub-authors .pub-author:last-child::after {
  content: '';
}

/* in which case put an 'and' before */
.pub-authors .pub-author:last-child::before {
  content: ' and ';
}

/* unless it is the only author */
.pub-authors .pub-author:only-child::before {
  content: '';
}

/* or unless there are only two authors, in which case we only use 'and' */
.pub-authors .pub-author:first-child::after {
  content: '';
}

.pub-authors .pub-author:first-child:not(:nth-last-child(2))::after {
  content: ',';
}

.pub-authors .pub-author:only-child::after {
  content: '' !important;
}

.card-header h4 {
  margin-bottom: 0;
  line-height: 1.2em;
}

.card-header .btn-outline-primary {
  color: #2196f3 !important;
}

/* users with disabled JS will see accordion fully unfolded, with enabled JS jQuery folds those */
.dont-show {
  display: block;
}

.ekko-lightbox .modal-body {
  padding-bottom: 0;
}

.pub-container:target .pub {
  animation-name: pub_highlight_fade;
  animation-duration: 1s;
  background-color: #eeeeee;
}

@keyframes pub_highlight_fade {
  from {
    background-color: #4caf50;
  }
  to {
    background-color: #eeeeee;
  }
}

/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
.pub-container:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

.hint {
  border-bottom: 1px dotted black;
}

.hyphenate {
  text-align: justify;
}
