#filter input[type=checkbox] {
  vertical-align: bottom;
}

@media print {
  .next, .prev {
    display: none;
  }
}

.next::after {
  content: ' ➡';
}

.prev::before {
  content: '⬅ ';
}

/* copied from Water.css for buttons */

a.next, a.prev {
  color: #000;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  outline: none;
}

a.next:hover, a.prev:hover {
  text-decoration: none;
  background: #ddd;
  background: var(--button-hover);
}

a.next:focus, a.prev:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

@media (prefers-color-scheme: dark) {
  a.next, a.prev {
    background-color: #161f27;
    background-color: var(--background);
    color: #fff;
    color: var(--form-text);
  }
  a.next:hover, a.prev:hover {
    background: #324759;
    background: var(--button-hover);
  }
}

/* end copy */

@media (prefers-color-scheme: dark) {
  progress {
    border: none;
    background-color: #ffffff;
  }
}

nav ul {
  display: inline;
  padding-left: 1em;
}

@media (max-width: 768px) {
  nav ul {
    display: block;
    padding-left: 0;
  }
}

nav li {
  display: inline;
}

nav li::before {
  content: ' / ';
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

@media (max-width: 768px) {
  .figure-float-right {
    width: 100%;
    display: block;
  }
}

@media (min-width: 768px) {
  .figure-float-right {
    float: right !important;
    max-width: 40%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.article-source {
  color: var(--text-muted);
  font-size: .8em;
}

a.external-article::after {
  content: '➹';
  vertical-align: super;
  font-size: .7em;
}

ul.links {
  padding-left: 0;
  padding-bottom: 1em;
}

ul.links li {
  display: inline;
}

ul.links li::before {
  content: ' · ';
}

ul.links li:first-child::before {
  content: '';
}

/* put a comma after each author */
.pub-authors .pub-author::after {
  content: ',';
}

/* unless it is the last author */
.pub-authors .pub-author:last-child::after {
  content: '';
}

/* in which case put an 'and' before */
.pub-authors .pub-author:last-child::before {
  content: ' and ';
}

/* unless it is the only author */
.pub-authors .pub-author:only-child::before {
  content: '';
}

/* or unless there are only two authors, in which case we only use 'and' */
.pub-authors .pub-author:first-child::after {
  content: '';
}

.pub-authors .pub-author:first-child:not(:nth-last-child(2))::after {
  content: ',';
}

.pub-authors .pub-author:only-child::after {
  content: '' !important;
}

.slbCaption {
  font-size: 1em;
}

.hyphenate {
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.orcid {
  height: .7em;
  width: .7em;
  position: relative;
  top: -0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

dt {
  font-weight: bold;
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

td, th {
  padding: .2em;
  border: 1px solid #aaa;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

#interactive {
  display: none;
}

.interactive .output {
  padding: .5em;
  border: 1.5px solid;
}

.interactive .output-empty {
  display: none;
}

.interactive .output-success {
  border-color: green;
}

.interactive .output-failure {
  border-color: red;
}

@keyframes border_pending {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: yellow;
  }
}

.interactive .output-pending {
  animation: border_pending 1s infinite;
}

.interactive .output-pending::before {
  content: "Pending ...";
}

.interactive-buttons {
  padding-top: .5em;
  padding-bottom: .5em;
}

.interactive .error::before {
  content: '🚫 ';
}

.interactive .success::before {
  content: '✅ ';
}

button.play::before {
  content: '▶️ ';
}

button.reset::before {
  content: '🗑️ ';
}

.output-string {
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: anywhere;
}

.output-string::before {
  content: '"';
}

.output-string::after {
  content: '"';
}

.interactive .output > table {
  margin: -.5em;
}

.interactive .output td > table {
  margin: -.2em;
}

.interactive .output td, .interactive .output th {
  vertical-align: top;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.interactive .output td:last-child, .interactive .output th:last-child {
  border-right: none;
}

.interactive .output tr:last-child > * {
  border-bottom: none;
}

details.pub-abstract[open=""] summary span {
  display: none;
}

details.pub-abstract summary::after {
  content: ' (click to expand)';
  color: var(--text-muted);
}

details.pub-abstract[open=""] summary::after {
  content: 'Full abstract (click to collapse):' !important;
}

details.pub-abstract {
  font-size: .8em;
}

blockquote > p {
  margin: 0;
}
