---
layout: jumbotron
nav: articles
card_theme: bg-dark text-white
permalink: /articles/
---

{% assign articles = site.articles | concat: site.data.external_articles | sort: 'pub_date' | reverse %}
{% assign today_date = 'now' | date: '%s' %}

<div class="masonry" data-columns>
  {% for article in articles %}
    {% assign article_date = article.pub_date | date: '%s' %}
    {% if today_date > article_date %}
      {% include article_card.html %}
    {% endif %}
  {% endfor %}
</div>

<br style="clear:both;">
<script src="/js/salvattore.min.js"></script>
