---
layout: default
permalink: /articles/
title: Writing, Articles, Podcasts
---

{% assign articles = site.articles | concat: site.data.external_articles | sort: 'pub_date' | reverse %}
{% assign today_date = 'now' | date: '%s' %}

{% for article in articles %}
  {% assign article_date = article.pub_date | date: '%s' %}
  {% if today_date > article_date %}
    <div {% if article.lang %}lang="{{ article.lang }}"{% endif %}>
      {% if article.is_article %}
        {% assign url = article.url %}
      {% else %}
        {% assign url = article.link %}
      {% endif %}
      <h2><a {% if article.is_article %}{% else %}class="external-article"{% endif %} href="{{ url }}">{{ article.title }}</a></h2>
      {% if article.hero %}
        <img class="figure-float-right" src="{{ article.hero.src }}" alt="{{ article.hero.alt }}" />
      {% endif %}
      <div class="hyphenate">
        {% if article.abstract %}
          {{ article.abstract }}
        {% else %}
          {{article.content | strip_html | truncatewords: 50}}
        {% endif %}
      </div>
      <div class="article-source">
        {% if article.lang == "de" %}
          Veröffentlicht
        {% else %}
          Published
        {% endif %}
        {% if article.is_article %}{% elsif article.journal %}in <em>{{ article.journal }}</em>,{% endif %} {{ article.pub_date }}.
        {% if article.hero %}
          {% if article.lang == "de" %}
            Bildnachweis:
          {% else %}
            Image credits:
          {% endif %}
          {{ article.hero.credits }}.
        {% endif %}
      </div>
      <br style="clear: both;">
    </div>
  {% endif %}
{% endfor %}
