---
layout: jumbotron
nav: cv
card_theme: bg-danger text-white
permalink: /cv/
hyphenator: true
---

<div class="card-columns card-columns-wide">
  {% include card.html src="employment.html" header="Employment" icon="fa-briefcase" %}
  {% include card.html src="education.html" header="Education" icon="fa-graduation-cap" %}
  {% include select_pubs_card.html style="btn-outline-danger" %}
  {% include card.html src="skills.html" header="Skills" icon="fa-cogs" %}
  {% include card.html src="service.html" header="Service" icon="fa-users" %}
  {% include card.html src="talks.html" header="Conference Talks" icon="fa-microphone" %}
</div>
