---
layout: default
nav: index
card_theme: bg-primary text-white
hyphenator: true
---

<div class="jumbotron">
  <header class="container">
    <h1 class="display-3">Lars Hupel</h1>
    <p>PhD student, <a href="https://www21.in.tum.de">Chair for Logic and Verification</a>, <a href="https://www.in.tum.de">Fakult&auml;t f&uuml;r Informatik</a>, <a href="https://www.tum.de/">Technische Universität München</a></p>
  </header>
</div>

<div class="container">

  <main class="card-columns card-columns-wide">
    {% include card.html src="contact.html" header="Contact" icon="fa-envelope-o" %}
    {% include card.html src="profiles.html" header="Profiles" icon="fa-user" %}
    {% capture teaching_extra %}
      <div class="pull-right">
        <a href="/teaching/" class="btn btn-outline-primary" style="border: none; background-color: white;">Full list</a>
      </div>
    {% endcapture %}
    {% include card.html src="invitation.html" header="Standing Invitation" icon="fa-thumb-tack" %}
    {% include select_pubs_card.html style="btn-outline-primary" %}
  </main>

</div>
