---
layout: default
nav: index
card_theme: bg-primary text-white
---

<div class="jumbotron">
  <header class="container">
    <h1 class="display-3">Lars Hupel</h1>
  </header>
</div>

<div class="container">

  <main class="card-columns card-columns-wide">
    {% include card.html src="synopsis.html" header="About" icon="fa-comments-o" %}
    {% include card.html src="invitation.html" header="Standing Invitation" icon="fa-thumb-tack" %}
    <div class="random-fact">
      {% include card.html src="random_fact.html" header="Random fact" icon="fa-lightbulb-o" %}
    </div>
    {% include card.html src="flights.html" header="Flight status" icon="fa-plane" %}
    {% include card.html src="profiles.html" header="Profiles" icon="fa-user" %}
  </main>

</div>
