---
layout: default
permalink: /research/
title: Research & Publications
---

<dl>
  {% for pub in site.data.pubs reversed %}
    {% assign pdf_link="/pub/" | append: pub.id | append: ".pdf" %}
    {% if pub.entry %}
      {% assign main_link=pub.entry %}
    {% elsif pub.draft %}
      {% assign main_link=pdf_link %}
    {% else %}
      {% if pub.no_pdf %}
        {% assign main_link=pub.code %}
      {% else %}
        {% assign main_link=pdf_link %}
      {% endif %}
    {% endif %}

    <dt id="pub-{{ pub.id }}"><a href="{{ main_link }}">{{ pub.title }}</a></dt>
    <dd>
      <div class="pub-authors">
        {% for author in pub.authors %}
          {% assign author_desc = site.data.authors[author] %}
          <span class="pub-author">{% if author_desc.link %}<a href="{{ author_desc.link }}">{{ author_desc.name }}</a>{% else %}{{ author_desc.name }}{% endif %}{% if author_desc.orcid %} <a href="https://orcid.org/{{ author_desc.orcid }}"><img class="orcid" src="{% asset orcid.png @path %}" alt="ORCID"></a>{% endif %}</span>
        {% endfor %}
      </div>
      <div>{{ pub.in }}{% if pub.in %}, {% endif %}{{ pub.year }}</div>
      {% if pub.doi contains "10.1007/" %}
        <div><small>The final publication is available at <a href="http://link.springer.com/">Springer Link</a>.</small></div>
      {% endif %}

      <details class="pub-abstract">
        <summary>Abstract</summary>

        <div class="hyphenate">
          {{ pub.abstract }}
        </div>
      </details>

      <ul class="links">
        {% if pub.entry %}
          <li><a href="{{ pub.entry }}">Entry</a></li>
        {% endif %}
        {% if pub.draft %}
          <li><a href="/pub/{{ pub.id }}.pdf">Draft</a></li>
        {% else %}
          {% if pub.entry or pub.no_pdf %}
          {% else %}
            <li><a href="/pub/{{ pub.id }}.pdf">PDF</a></li>
          {% endif %}
        {% endif %}
        {% if pub.draft != true and pub.bib != false %}
          <li><a href="/bib/{{ pub.id }}.bib">BibTeX</a></li>
        {% endif %}
        {% if pub.doi %}
          <li><a href="https://doi.org/{{ pub.doi }}">DOI</a></li>
        {% endif %}
        {% if pub.arxiv %}
          <li><a href="http://arxiv.org/abs/{{ pub.arxiv }}">arXiv</a></li>
        {% endif %}
        {% if pub.code %}
          <li><a href="{{ pub.code }}">Code</a></li>
        {% endif %}
        {% if pub.slides %}
          <li><a href="{{ pub.slides }}">Slides</a></li>
        {% endif %}
        {% if pub.recording %}
          <li><a href="{{ pub.recording }}">Recording</a></li>
        {% endif %}
        {% if pub.extra %}
          {% for extra in pub.extra %}
            <li><a href="{{ extra.link }}">{{ extra.text }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </dd>
  {% endfor %}
</dl>
