---
layout: jumbotron
nav: research
card_theme: bg-success text-white
permalink: /research/
---

<div class="card-columns card-columns-wide">
  {% for topic in site.research %}
    {% capture pubs_content %}
      {% for pub in topic.pubs %}
        {% include pub.html %}
      {% endfor %}
    {% endcapture %}
    {% capture extra %}
      <div class="pull-right">
        <a href="{{ topic.url }}" class="btn btn-outline-success" style="border: none; background-color: white;">Details</a>
      </div>
    {% endcapture %}
    {% include card.html content=pubs_content header=topic.topic icon=topic.icon header_extra=extra %}
  {% endfor %}
</div>
