---
layout: jumbotron
nav: talks
card_theme: bg-info text-white
permalink: /talks/
---

<dl>
  {% for talk in site.talks %}
    <dt {% if talk.lang %}lang="{{ talk.lang }}"{% endif %}><a href="{{ talk.url }}">{{ talk.title }}</a></dt>
    <dd {% if talk.lang %}lang="{{ talk.lang }}"{% endif %} class="hyphenate">
      {{ talk.abstract }}
    </dd>
  {% endfor %}
</dl>

<h2>Other Talks</h2>
<div class="card-columns mt-4">
  {% for year in (2013..2030) reversed %}
    {% include misc_talks_by_year.html year=year %}
  {% endfor %}
</div>
