---
layout: article
---

<link rel="stylesheet" href="{% link assets/codemirror.css %}">

{{ content }}

<hr>

Thanks to the people who've read drafts of this series and provided valuable feedback:
Andrea, Clement Delafargue, Heiko Seeberger, Hillel Wayne, Johannes Link, Matthew Weidner, Princess.

<script src="{% link assets/codemirror.js %}"></script>
<script src="{% link assets/codemirror-js.js %}"></script>
<script src="/js/html.js"></script>
<script src="{% link assets/interactive.js %}"></script>

<script>
  initInteractive([
    "/js/html.js",
    "/js/topics/crdt/fc.js",
    "/js/topics/crdt/chai.js",
    "/js/topics/crdt/deep-eql.js",
    "/js/topics/crdt/fc-runner.js",
    "/js/topics/crdt/all_lib.js"
  ]);
</script>
