---
layout: article
---

<link rel="stylesheet" href="{% link assets/leaflet.css %}">
<script src="{% link assets/leaflet.js %}"></script>

{% if page.gpx %}
  <script src="{% link assets/leaflet-gpx.js %}"></script>
{% endif %}

{{ content }}

<h2>Karte</h2>

<div id="map-embed"></div>

<footer>Basiskarte und Daten von OpenStreetMap und OpenStreetMap Foundation. Veröffentlicht unter <a href="https://opendatacommons.org/licenses/odbl/">ODbL</a>.</footer>

<script>
  const { lat, lon, zoom } = {{ page.geo | jsonify }};
  const markers = {{ page.markers | jsonify }};

  const map = L.map("map-embed").setView([lat, lon], zoom);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  for (const { lat, lon } of markers)
    L.circle([lat, lon], { color: 'red', fillColor: '#f03', fillOpacity: 0.5, radius: 300 }).addTo(map);

  const gpx = ({{ page.gpx | jsonify }}) || [];

  const markerOptions = {
    startIconUrl: undefined,
    endIconUrl: undefined,
    shadowUrl: undefined
  };
  for (const file of gpx)
    new L.GPX(`/topics/cycling/${file}.gpx`, { async: true, marker_options: markerOptions }).addTo(map);
</script>

{% if page.gpx %}
  <h2>Tracks</h2>

  <ul>
    {% for file in page.gpx %}
      <li><a href="/topics/cycling/{{ file }}.gpx">{{ file }}.gpx</a></li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Hinweis</h2>

<div>
  Der hier angegebene Streckenverlauf ist ein persönlicher Erfahrungsbericht.
  Ich übernehme keine Verantwortung für die Eignung oder Beschaffenheit.
  Alle Angaben ohne Gewähr.
</div>
