---
layout: article
---

<link rel="stylesheet" href="{% link assets/leaflet.css %}">
<script src="{% link assets/leaflet.js %}"></script>
<script src="{% link js/map.js %}"></script>

{% if page.gpx %}
  <script src="{% link assets/leaflet-gpx.js %}"></script>
{% endif %}

{{ content }}

<h2>Karte</h2>

<div id="map-embed" class="leaflet-map"></div>

<footer>Basiskarte und Daten von OpenStreetMap und OpenStreetMap Foundation. Veröffentlicht unter <a href="https://opendatacommons.org/licenses/odbl/">ODbL</a>.</footer>

{% include map_json.html gpx=page.gpx markers=page.markers gpx_prefix="topics/cycling" id="map-data" %}
<script>renderMap("map-data", "map-embed")</script>

{% if page.gpx %}
  <h2>Tracks</h2>

  <ul>
    {% for file in page.gpx %}
      <li><a href="{% link topics/cycling/{{ file }}.gpx %}">{{ file }}.gpx</a></li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Hinweis</h2>

<div>
  Der hier angegebene Streckenverlauf ist ein persönlicher Erfahrungsbericht.
  Ich übernehme keine Verantwortung für die Eignung oder Beschaffenheit.
  Alle Angaben ohne Gewähr.
</div>
