---
layout: article
---

<link rel="stylesheet" href="{% asset codemirror.css @path %}">

{{ content }}

<hr>

This page – and all other pages in the <em>Recursion</em> series – are currently in (open) beta.
Beware of bugs.
Thanks to Manuel and Asta for providing valuable feedback on the drafts.

<script src="{% asset codemirror.js @path %}"></script>
<script src="{% asset codemirror-js.js @path %}"></script>
<script src="/js/html.js"></script>
<script src="{% asset interactive.js @path %}"></script>

<script>
  initInteractive([]);
</script>
