<div class="card" {% if article.lang %}lang="{{ article.lang }}"{% endif %}>
  {% if article.is_article %}
    {% assign url = article.url %}
  {% else %}
    {% assign url = article.link %}
  {% endif %}
  <div class="card-header {{ page.card_theme }}">
    <h4><a href="{{ url }}" class="text-white">{{ article.title }}</a></h4>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="hyphenate">
        {% if article.abstract %}
          {{ article.abstract }}
        {% else %}
          {{article.content | strip_html | truncatewords: 50}}
        {% endif %}
      </div>
      <div class="mb-3">
        <small class="text-muted">
          {% if article.lang == "de" %}
            Veröffentlicht
          {% else %}
            Published
          {% endif %}
          {% if article.is_article %}{% elsif article.journal %}in <em>{{ article.journal }}</em>,{% endif %} {{ article.pub_date }}.
        </small>
      </div>
      <div class="pull-right">
        <a href="{{ url }}" class="btn btn-primary">
          {% if article.is_article %}
          {% else %}
            <i class="fa fa-fw fa-external-link fa-lg" aria-hidden="true"></i>
          {% endif %}
          {% if article.lang == "de" %}
            Weiterlesen
          {% else %}
            Read more
          {% endif %}
        </a>
      </div>
      <br style="clear: both;">
    </div>
  </div>
</div>
