<div class="card">
  {% if include.no_header %}
  {% else %}
    <div class="card-header {{ page.card_theme }}">
      {{ include.header_extra }}
      <h4>
        {% if include.icon %}
          <i class="fa fa-fw {{ include.icon }} fa-lg" aria-hidden="true"></i>
        {% endif %}
        {{ include.header }}
      </h4>
    </div>
  {% endif %}
  <div class="card-body">
    <div class="card-text">
      {% if include.src %}
        {% include {{ include.src }} %}
      {% else %}
        {{ include.content }}
      {% endif %}
    </div>
  </div>
</div>
