<div>Pronouns: <a href="https://apastyle.apa.org/style-grammar-guidelines/grammar/singular-they">they/them</a>, er (German only)</div>
<div>Contact email: <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;">&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;</a></div>

<p>
  Stay up-to-date by subscribing to my <a href="{% link feed.xml %}">Atom feed</a>.
  It includes all items that <a href="{% link articles.html %}">I publish here and elsewhere</a>.
</p>

<p>
  You can find a local copy of my LinkedIn posts <a href="{% link topics/digital-currency.md %}">here</a>.
</p>
