<p>Technische Universität München<br />
Boltzmannstraße 3, 85748 Garching</p>
<p>Office: <a href="https://portal.mytum.de/displayRoomMap?00.09.063@5609">MI 00.09.063 <i class="fa fa-map-marker" aria-hidden="true"></i></a><br />
Office phone: <a href="+498928917328">+49 89 289-17328 <i class="fa fa-phone" aria-hidden="true"></i></a><br />
Office hours: <a href="https://larsrh.youcanbook.me/">booking request <i class="fa fa-calendar" aria-hidden="true"></i></a>
</p>
<p>Email (click to reveal)<br />
Academic: <a href="http://www.google.com/recaptcha/mailhide/d?k=01RYEMxTU3La7HOz9NhEDhQA==&amp;c=HFbpQ9BxPBz8SV5Ahj_AVXoSCZqGHwmFtJ6PbbMPRV4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01RYEMxTU3La7HOz9NhEDhQA\x3d\x3d\x26c\x3dHFbpQ9BxPBz8SV5Ahj_AVXoSCZqGHwmFtJ6PbbMPRV4\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">l...@tum.de</a><br />
Non-academic: <a href="http://www.google.com/recaptcha/mailhide/d?k=01PAt7IRJa0LJx1GfnDr_xcA==&amp;c=9fms_i97epk5yRfaeh9pLQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01PAt7IRJa0LJx1GfnDr_xcA\x3d\x3d\x26c\x3d9fms_i97epk5yRfaeh9pLQ\x3d\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">l...@hupel.info</a></p>
