<p>Technische Universität München<br />
Boltzmannstraße 3, 85748 Garching</p>
<p>Office: <a href="https://portal.mytum.de/displayRoomMap?00.09.063@5609">MI 00.09.063 <i class="fa fa-map-marker" aria-hidden="true"></i></a><br />
Office phone: <a href="tel:+498928917328">+49 89 289-17328 <i class="fa fa-phone" aria-hidden="true"></i></a><br />
Office hours: <a href="https://larsrh.youcanbook.me/">booking request <i class="fa fa-calendar" aria-hidden="true"></i></a>
</p>
<p>Email (click to reveal)<br />
Academic: <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6C;&#x61;&#x72;&#x73;&#x2E;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x40;&#x74;&#x75;&#x6D;&#x2E;&#x64;&#x65;">&#x6C;&#x61;&#x72;&#x73;&#x2E;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x40;&#x74;&#x75;&#x6D;&#x2E;&#x64;&#x65;</a><br />
Non-academic: <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;">&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;</a></p>
