<script>
  function copyCookie() {
    navigator.clipboard.writeText("A 🍪 from Lars' website. Enjoy!");
  }
</script>
This page does not store cookies (see <a href="{% link about.md %}">here for details</a>).
But I know that a lot of my visitors really like cookies.
This is why I put a cookie here:
🍪
<br>
Feel free to use it however you like.
<br>
For your convenience, you can even click this button to copy a cookie to your clipboard:
<br>
<button class="mt-sm" onclick="copyCookie();">Copy 🍪 to clipboard</button>
