<div class="list-group">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">PhD Student</h5>
      <small class="text-muted">since 2013</small>
    </div>
    <p class="mb-1">Technische Universität München, Chair for Logic and Verification</p>
    <small>Thesis Working Title: Verification of Code Generators in Isabelle</small>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Master of Science in Informatics</h5>
      <small class="text-muted">2012–2013</small>
    </div>
    <p class="mb-1">Technische Universität München</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Erasmus Exchange Semester</h5>
      <small class="text-muted">09/2010–01/2011</small>
    </div>
    <p class="mb-1">Queen's University Belfast</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Bachelor of Science in Informatics</h5>
      <small class="text-muted">2008–2012</small>
    </div>
    <p class="mb-1">Technische Universität München</p>
  </div>
</div>
