<div class="card">
  <div class="card-header {{ page.card_theme }}">
    <h4><a href="{{ article.link }}" class="text-white">{{ article.title }}</a></h4>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
        {{ article.abstract }}
      </div>
      <div class="mb-3"><small class="text-muted">Published in <em>{{ article.journal }}</em>, {{ article.date }}.</small></div>
      <div class="pull-right">
        <a href="{{ article.link }}" class="btn btn-primary">Read more</a>
      </div>
      <br style="clear: both;">
    </div>
  </div>
</div>
