<div>A list of my Isabelle-related projects can be found <a href="/research/">here</a>.</div>
<div class="mb-3"><small class="text-muted">Screenshot of Isabelle/jEdit: <a class="text-dark" href="http://isabelle.in.tum.de/dist/Isabelle2017/COPYRIGHT">License of Isabelle</a>, <a class="text-dark" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">License of jEdit</a></small></div>
<div class="pull-right">
  <a href="https://isabelle.in.tum.de/" class="btn btn-primary">Website</a>
  <a href="https://isabelle.in.tum.de/repos/isabelle" class="btn btn-primary">Code</a>
</div>
