<div>I have developed an extension to Leon that allows it to use Isabelle as a solver in the background. The research paper can be found <a href="/research/scala/">here</a>. The major challenges were system integration (this has since been extracted as a separate project, <a href="https://github.com/larsrh/libisabelle">libisabelle</a>) and translating Scala expressions into idiomatic Isabelle/HOL definitions without compromising correctness.</div>
<div class="mb-3"><small class="text-muted">Screenshot of <a class="text-dark" href="http://leon.epfl.ch">leon.epfl.ch</a>: <a class="text-dark" href="https://github.com/epfl-lara/leon/blob/master/LICENSE">License of Leon</a>, <a class="text-dark" href="https://github.com/epfl-lara/leon-web/blob/master/LICENSE">License of Leon-web</a></small></div>
<div class="pull-right">
  <a href="https://github.com/epfl-lara/leon" class="btn btn-primary">Code</a>
</div>
