<div class="list-group">
  <a href="cv.html" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-list-ul fa-lg" aria-hidden="true"></i>Resume</a>
  <a href="https://scholar.google.com/citations?user=VdxLaDEAAAAJ" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-graduation-cap fa-lg" aria-hidden="true"></i>Google Scholar</a>
  <a href="https://orcid.org/0000-0002-8442-856X" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-id-card-o fa-lg" aria-hidden="true"></i>ORCID</a>
  <a href="https://dblp.org/pid/143/3168" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-file-text-o fa-lg" aria-hidden="true"></i>DBLP</a>
  <a href="https://github.com/larsrh" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-github fa-lg" aria-hidden="true"></i>GitHub</a>
  <a href="https://twitter.com/larsr_h" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-twitter fa-lg" aria-hidden="true"></i>Twitter</a>
  <a href="https://instagram.com/larsr_h" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-instagram fa-lg" aria-hidden="true"></i>Instagram</a>
  <a href="https://keybase.io/larsrh" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-lock fa-lg" aria-hidden="true"></i>Keybase</a>
  <a href="https://speakerdeck.com/larsrh" class="list-group-item list-group-item-action"><i class="fa fa-fw fa-desktop fa-lg" aria-hidden="true"></i>Speaker Deck</a>
</div>
