{% if include.layout != "full" %}
  {% include pub_modal.html %}
{% endif %}
<div>
  {% assign pdf_link="/pub/" | append: pub.id | append: ".pdf" %}
  {% if pub.entry %}
    {% assign main_link=pub.entry %}
  {% elsif pub.draft %}
    {% assign main_link=pdf_link %}
  {% else %}
    {% if pub.no_pdf %}
      {% assign main_link=pub.code %}
    {% else %}
      {% assign main_link=pdf_link %}
    {% endif %}
  {% endif %}

  {% if include.layout == "brief" %}
    <a class="pub-modal-link" data-pub="{{ pub.id }}" href="{{ main_link }}">{{ pub.title }}</a>
  {% else %}
    <h5>{{ pub.title }}</h5>
  {% endif %}
  <p>
    {% include pub_authors.html %}
  </p>
  {% if include.layout == "full" %}
    <p class="hyphenate">
      {{ pub.abstract }}
    </p>
  {% endif %}
</div>
{% if include.layout != "brief" %}
  {% include pub_buttons.html %}
{% endif %}
