<div class="list-group">
  <a href="https://scala.epfl.ch/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Scala Center</h5>
    </div>
    <p class="mb-1">Community Representative at the Scala Center Advisory Board</p>
  </a>
  <a href="https://scalacenter.github.io/platform/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Scala Platform Process</h5>
    </div>
    <p class="mb-1">Committee</p>
  </a>
  <a href="http://conf.researchr.org/committee/scala-2017/scala-2017-papers-program-committee" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Scala Symposium 2017</h5>
    </div>
    <p class="mb-1">Programme Committee</p>
  </a>
  <a href="http://cavconference.org/2017/organization/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Computer Aided Verification 2017</h5>
    </div>
    <p class="mb-1">Artifact Evaluation Committee</p>
  </a>
  <a href="http://conf.researchr.org/committee/scala-2016/scala2016-pc" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Scala Symposium 2016</h5>
    </div>
    <p class="mb-1">Programme Committee</p>
  </a>
</div>
