<div class="list-group">
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Functional &amp; Logic Programming</h5>
    <p class="mb-1">Scala (expert), Isabelle, Prolog, Haskell (advanced), OCaml (beginner)</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Imperative Programming</h5>
    <p class="mb-1">Java, C++11, Python (advanced)</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Language Ecosystems</h5>
    <p class="mb-1">Typelevel (cofounder)</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">IT Operations</h5>
    <p class="mb-1">Linux administration, <span title="Linux Containers" class="hint" style="margin-right:0;" data-toggle="tooltip" data-placement="top">LXC</span>, Ansible (advanced)</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Software Tooling</h5>
    <p class="mb-1">Jenkins setup &amp; operations (advanced)</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Planning</h5>
    <p class="mb-1">Open source maintenance, Conference organisation</p>
  </div>
  <div class="list-group-item flex-column align-items-start">
    <h5 class="mb-1">Languages</h5>
    <p class="mb-1">German (native), English (fluent), French (basic)</p>
  </div>
</div>
