<div>
  <div class="pull-right">
    <a href="img/profile.jpg" data-toggle="lightbox" data-footer="Me in Copenhagen (2017). Photo credit: Miles Sabin">
      <img src="img/profile.jpg" class="rounded-circle" style="width: 8em; height: 8em; margin-right: 1em; margin-top: 1em;" alt="Profile picture" data-toggle="tooltip" data-placement="bottom" title="Me in Copenhagen (2017). Photo credit: Miles Sabin">
    </a>
  </div>
  <div class="list-group">
    <a href="https://www21.in.tum.de" class="list-group-item list-group-item-action"><h5>Researcher</h5></a>
    <a href="https://github.com/larsrh" class="list-group-item list-group-item-action"><h5>Software Developer</h5></a>
    <a href="https://typelevel.org" class="list-group-item list-group-item-action"><h5>Typelevel Cofounder</h5></a>
  </div>
</div>
