<div class="hyphenate">
  <a href="/img/profile.jpg" data-toggle="lightbox" data-footer="Me in Copenhagen (2017). Photo credit: Miles Sabin">
    <img src="/img/profile.jpg" class="float-right ml-4 mt-2 mb-2 rounded-circle" style="width: 8em; height: 8em;" alt="Profile picture" data-toggle="tooltip" data-placement="bottom" title="Me in Copenhagen (2017). Photo credit: Miles Sabin">
  </a>
  Lars is a consultant with <a href="https://www.innoq.com/">INNOQ</a> in Munich, Germany.
  They are known as one of the founders of the <a href="https://typelevel.org">Typelevel initiative</a> which is dedicated to providing principled, type-driven Scala libraries in a friendly, welcoming environment.
  A frequent conference speaker, they are active in the <a href="https://github.com/larsrh">open source community,</a> particularly in Scala.
  They also enjoy programming in and talking about Haskell, TypeScript, Prolog, and Rust.
  Previously, they were a PhD student at <a href="https://www21.in.tum.de">TU München</a> in the field of logic and verification.
  Their <a href="/research">research</a> focus was on techniques for verified code generation from theorem provers.
</div>

<div class="mt-3">
  Pronouns: <a href="https://pronoun.is/they">they/them</a>, er (German only)<br>
  Contact email: <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;">&#x6C;&#x61;&#x72;&#x73;&#x40;&#x68;&#x75;&#x70;&#x65;&#x6C;&#x2E;&#x69;&#x6E;&#x66;&#x6F;</a>
</div>
