<div class="hyphenate">
  <a href="/img/profile.jpg" data-toggle="lightbox" data-footer="Me in Copenhagen (2017). Photo credit: Miles Sabin">
    <img src="/img/profile.jpg" class="float-right ml-4 mt-2 mb-2 rounded-circle" style="width: 8em; height: 8em;" alt="Profile picture" data-toggle="tooltip" data-placement="bottom" title="Me in Copenhagen (2017). Photo credit: Miles Sabin">
  </a>
  Lars is a consultant with <a href="https://www.innoq.com/">INNOQ</a> in Munich, Germany.
  He is known as one of the founders of the <a href="https://typelevel.org">Typelevel initiative</a> which is dedicated to providing principled, type-driven Scala libraries in a friendly, welcoming environment.
  A frequent conference speaker, he is active in the <a href="https://github.com/larsrh">open source community,</a> particularly in Scala.
  He also enjoys programming in and talking about Haskell, Prolog, and Rust.
  Previously, he was a PhD student at <a href="https://www21.in.tum.de">TU München</a> in the field of logic and verification.
  His <a href="/research">research</a> focus was on techniques for verified code generation from theorem provers.
</div>
