{% if talk.pub %}
  {% for topic in site.research %}
    {% for pub in topic.pubs %}
      {% if pub.id == talk.pub %}
        {% include pub_modal.html %}
        {% assign pub_link=topic.url %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for pub in site.data.misc_pubs %}
    {% if pub.id == talk.pub %}
      {% include pub_modal.html %}
      {% assign pub_link="/research/" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if talk.recording %}
  <a href="{{ talk.recording }}" class="btn btn-primary">Recording</a>
{% else %}
  <button class="btn btn-primary" type="button" style="pointer-events: none;" disabled>Recording</button>
{% endif %}
{% if talk.slides %}
  <a href="{{ talk.slides }}" class="btn btn-primary">Slides</a>
{% else %}
  <button class="btn btn-primary" type="button" style="pointer-events: none;" disabled>Slides</button>
{% endif %}
{% if talk.link %}
  <a href="{{ talk.link }}" class="btn btn-primary">Link</a>
{% elsif talk.pub %}
  <a class="pub-modal-link btn btn-primary" data-pub="{{ talk.pub }}" href="{{ pub_link }}">Link</a>
{% else %}
  <button class="btn btn-primary" type="button" style="pointer-events: none;" disabled>Link</button>
{% endif %}
