{% assign talks = include.talks | sort: 'date' | reverse %}
<ul>
  {% for talk in talks %}
    <li>
      {% if talk contains "title" %}
        {{ talk.title }},
      {% endif %}
      {{ talk.conference }},
      {{ talk.location }},
      {% include date.html date=talk.date %}
      <ul class="links">
        {% if talk contains "recording" %}
          <li>
            {% if page.lang == "de" %}
              <a href="{{ talk.recording }}">Aufzeichnung</a>
            {% else %}
              <a href="{{ talk.recording }}">Recording</a>
            {% endif %}
          </li>
        {% endif %}
        {% if talk contains "slides" %}
          <li><a href="{{ talk.slides }}">Slides</a></li>
        {% endif %}
        {% if talk contains "link" %}
          <li><a href="{{ talk.link }}">Link</a></li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
</ul>
