<p>Contributor to &amp; maintainer of various Typelevel projects, including:</p>
<div class="list-group">
  <a href="https://github.com/milessabin/shapeless" class="list-group-item list-group-item-action">milessabin/shapeless</a>
  <a href="https://github.com/non/spire" class="list-group-item list-group-item-action">non/spire</a>
  <a href="https://github.com/tpolecat/tut" class="list-group-item list-group-item-action">tpolecat/tut</a>
  <a href="https://github.com/typelevel/discipline" class="list-group-item list-group-item-action">typelevel/discipline</a>
  <a href="https://github.com/typelevel/cats-collections" class="list-group-item list-group-item-action">typelevel/cats-collections</a>
</div>
<div class="mb-3"><small class="text-muted">Screenshot of <a class="text-dark" href="https://typelevel.org">typelevel.org</a>, Copyright &copy; 2013–2017 its <a class="text-dark" href="https://typelevel.org/contributors.html">contributors</a></small></div>
<div class="pull-right">
  <a href="https://typelevel.org/" class="btn btn-primary">Website</a>
  <a href="https://github.com/typelevel" class="btn btn-primary">GitHub</a>
</div>
