<div class="video">
  {% if include.site == "bunny" %}
    <iframe src="https://iframe.mediadelivery.net/embed/123528/{{ include.id }}?autoplay=false" title="Bunny player" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen></iframe>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "{{ page.title }}",
      "description": "{{ page.abstract }}",
      "thumbnailUrl": [
        "{{ page.video.thumb }}"
       ],
      "uploadDate": "2016-03-31T08:00:00+08:00",
      "duration": "PT{{ page.video.duration }}",
      "embedUrl": "https://iframe.mediadelivery.net/embed/123528/{{ include.id }}?autoplay=false"
    }
    </script>
  {% else %}
    <template>
      {% if include.site == "vimeo" %}
        <iframe src="https://player.vimeo.com/video/{{ include.id }}?dnt=1" title="Vimeo player" allowfullscreen></iframe>
      {% else %}
        <iframe src="https://www.youtube-nocookie.com/embed/{{ include.id }}" title="YouTube player" allowfullscreen referrerpolicy="strict-origin-when-cross-origin"></iframe>
      {% endif %}
    </template>
    <div class="video-consent hyphenate">
      {% if page.lang == "de" %}
        <p>
          📺 Hier befindet sich ein externes Video.
          Du kannst den untenstehenden Button klicken, um es zu laden, aber dadurch könnte es zu Übermittlung von personenbezogenen Daten an YouTube und/oder Vimeo kommen.
          Konsultiere <a href="{% link about.md %}#cookies-and-stuff">diese Seite für Details</a> (Englisch).
        </p>
        <button>Video aktivieren</button>
      {% else %}
        <p>
          📺 There is an external video here.
          You can click the button below to load it, but note that personally-identifying information may be transmitted to YouTube and/or Vimeo.
          Check <a href="{% link about.md %}#cookies-and-stuff">this page for details</a>.
        </p>
        <button>Activate video</button>
      {% endif %}
    </div>
  {% endif %}
</div>
