---
title: "Ein Semester in Belfast"
long_title: "Ein Semester in Belfast: Erfahrungen meines Auslandssemesters"
pub_date: 2015-06-02
abstract: |
  Dieser Artikel enthält gesammelte Texte aus meinem Blog aus der Zeit vom September 2010 bis zum Januar 2011, während der ich ein Austauschsemester an der Queen’s University of Belfast absolvierte. In meinem Blog habe ich für Familie, Freunde und Bekannte meine Eindrücke und Erfahrungen festgehalten.
  Zur gleichen Zeit studierte auch noch ein Münchner Kommilitone in Belfast, ein weiterer in Newcastle und ein Freund aus Heidelberg in Durham. Von jenen wird im folgenden auch das ein oder andere Mal die Rede sein.
  Die Texte sind hier nicht in ihrer chronologischen Reihenfolge wiedergegeben, sondern thematisch gruppiert. Insofern habe ich einige kleine Änderungen vorgenommen, um logische Sprünge zu vermeiden.
lang: de
toc: true
---

{% include markdown.html src="erasmus/1_universitaet.md" %}
{% include markdown.html src="erasmus/2_ausfluege.md" %}
{% include markdown.html src="erasmus/3_kultur.md" %}
{% include markdown.html src="erasmus/4_wohnheim.md" %}
{% include markdown.html src="erasmus/5_verschiedenes.md" %}
{% include markdown.html src="erasmus/6_buerokratie.md" %}
{% include markdown.html src="erasmus/7_abschied.md" %}

<h2 id="quellennachweis">Quellennachweis</h2>

<ul>
  <li><a href="https://commons.wikimedia.org/w/index.php?title=File:Belfast_(437),_October_2009.JPG&oldid=124388066">College Square, Belfast, UK</a>: CC BY-SA 3.0</li>
  <li><a href="https://commons.wikimedia.org/w/index.php?title=File:Belfast_Queen_University.jpg&oldid=124390240">Lanyon Building, Belfast, UK</a>: CC BY-SA 2.5</li>
  <li><a href="https://de.wikipedia.org/w/index.php?title=Giant%E2%80%99s_Causeway&oldid=80804610">Giant’s Causeway, UK</a>: CC BY-SA 3.0</li>
  <li><a href="https://commons.wikimedia.org/w/index.php?title=File:Chinatown_Arch_Newcastle_UK.jpg&oldid=158134727">Chinatown Arch, Newcastle, UK</a>: CC BY-SA 3.0</li>
  <li><a href="https://www.flickr.com/photos/ehrenbergkommunikation/11819356415/">Belfast Laganside, UK</a>: CC BY-SA 2.0</li>
  <li><a href="https://de.wikipedia.org/w/index.php?title=Vauxhall_Motors&oldid=78382711">Vauxhall Motors</a>: CC BY-SA 3.0</li>
</ul>
