---
layout: default
---

<div class="jumbotron">
  <header class="container">
    {% if page.hero %}
      <img src="{{ page.hero.src }}" alt="{{ page.hero.alt }}" class="img-fluid mb-4" />
    {% endif %}

    <h1 class="display-3">
      {% if page.long_title %}
        {{ page.long_title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>

    {% if page.subtitle %}
      <h1 class="display-4">
        {{ page.subtitle }}
      </h1>
    {% endif %}

    {% if page.is_article %}
      Reading time: {{ content | number_of_words | divided_by: 180 }} minutes.

      {% if page.lang == "de" %}
        Veröffentlicht am
      {% else %}
        Published on
      {% endif %}
      {{ page.pub_date }}.
      {% if page.lang == "de" %}
        Zuletzt geändert am
      {% else %}
        Last updated on
      {% endif %}
      <a href="https://github.com/larsrh/website/commit/{{ page.git.last_commit.long_sha }}">{{ page.git.last_commit.commit_date | date: "%Y-%m-%d" }}</a>.
    {% endif %}

    {% if page.hero %}
      {% if page.lang == "de" %}
        Bildnachweis (Titelbild):
      {% else %}
        Header image credits:
      {% endif %}
      {{ page.hero.credits }}.
    {% endif %}
  </header>
</div>

<main class="container">

  {% if page.abstract %}
    <div class="m-3 hyphenate" style="font-style: italic;">
      {{ page.abstract | markdownify }}
    </div>
    <hr>
  {% endif %}

  {% if page.toc %}
    {{ content | toc_only }}
  {% endif %}

  <article class="hyphenate">
    {{ content }}
  </article>

</main>
