---
layout: root
---

<article>

<header>
  {% if page.hero %}
    <img class="hero" src="{% link assets/{{ page.hero.src }} %}" alt="{{ page.hero.alt }}" />
  {% endif %}

  <hgroup>
    <h1>{{ page.title }}</h1>

    {% if page.subtitle %}
      <p class="subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </hgroup>

  {% assign reading_time = content | number_of_words | divided_by: 180 %}
  {% if reading_time > 1 %}
    {% if page.lang == "de" %}
      Lesedauer: {{ reading_time }} Minuten.
    {% else %}
      Reading time: {{ reading_time }} minutes.
    {% endif %}
  {% endif %}

  {% if page contains "date" %}
    {% if page.lang == "de" %}
      Veröffentlicht am
    {% else %}
      Published on
    {% endif %}
    {% include date.html date=page.date %}
  {% endif %}

  {% if page.hero %}
    {% if page.lang == "de" %}
      Bildnachweis (Titelbild):
    {% else %}
      Header image credits:
    {% endif %}
    {{ page.hero.credits }}.
  {% endif %}

  {% if page.extra_header %}
    {% include {{ page.extra_header }} %}
  {% endif %}
</header>

{% if page.abstract %}
  <div class="abstract hyphenate">
    {{ page.abstract | markdownify }}
  </div>
  <hr>
{% endif %}

{% if page.toc %}
  {{ content | toc_only }}
{% endif %}

<div class="hyphenate">
  {{ content }}
</div>

</article>
