---
layout: root
---

<header>
  {% if page.hero %}
    <img style="margin-top: 1em;" src="{% asset '{{ page.hero.src }}' @path %}" alt="{{ page.hero.alt }}" />
  {% endif %}

  {% if page.long_title %}
    <h1>{{ page.long_title }}</h1>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {% if page.subtitle %}
    <p style="font-weight: bold; font-size: 1.5em;">{{ page.subtitle }}</p>
  {% endif %}

  {% if page.is_article %}
    {% assign reading_time = content | number_of_words | divided_by: 180 %}
    {% if reading_time > 1 %}
      {% if page.lang == "de" %}
        Lesedauer: {{ reading_time }} Minuten.
      {% else %}
        Reading time: {{ reading_time }} minutes.
      {% endif %}
    {% endif %}

    {% if page.lang == "de" %}
      Veröffentlicht am
    {% else %}
      Published on
    {% endif %}
    {% include date.html date=page.pub_date %}
  {% endif %}

  {% if page.hero %}
    {% if page.lang == "de" %}
      Bildnachweis (Titelbild):
    {% else %}
      Header image credits:
    {% endif %}
    {{ page.hero.credits }}.
  {% endif %}

  {% if page.extra_header %}
    {% include {{ page.extra_header }} %}
  {% endif %}
</header>

<main>
  {% if page.abstract %}
    <div class="hyphenate" style="font-style: italic;">
      {{ page.abstract | markdownify }}
    </div>
    <hr>
  {% endif %}
  {% if page.toc %}
    {{ content | toc_only }}
  {% endif %}
  <article class="hyphenate">
    {{ content }}
  </article>
</main>
