<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/roboto.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/css/ekko-lightbox.css">
    <link rel="stylesheet" href="/css/main.css">

    {% for page_desc in site.data.pages %}
      {% if page_desc.id == page.nav %}
        {% assign p = page_desc %}
      {% endif %}
    {% endfor %}

    {% if page.is_article %}
      {% assign page_name = page.header %}
    {% elsif p.title != false %}
      {% assign page_name = p.name %}
    {% else %}
      {% assign page_name = "" %}
    {% endif %}

    <title>Lars Hupel {% if page_name != "" %}&middot; {{ page_name }}{% endif %}</title>

    {% seo title=false %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.hupel.info/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
  </head>
  <body class="pb-4">

    <nav class="navbar navbar-expand-md {{ p.nav_theme }}" lang="en">
      <a class="navbar-brand" href="/">Lars Hupel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          {% for page_desc in site.data.pages %}
            <li class="nav-item {% if page_desc.id == page.nav %} active {% endif %}">
              <a class="nav-link" href="{% if page_desc.id == "index" %}/{% else %}/{{ page_desc.id }}/{% endif %}">{{ page_desc.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    {{ content }}

    <div class="container" lang="en">
      <hr>
      <footer class="footer">
        <small class="text-muted">
          Unless otherwise noted, all content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          Copyright &copy; 2017 Lars Hupel.
          Git version: <a href="https://github.com/larsrh/website/tree/{{ site.git.last_commit.long_sha }}">{{ site.git.last_commit.short_sha }}</a>.
        </small>
      </footer>
    </div>

    {% if page.hyphenator %}
      <script src="/js/hylo.js" type="text/javascript"></script>
    {% endif %}

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
    <script src="/js/ekko-lightbox.min.js"></script>
    <script>
      $(document).ready(function() {
        $('body').bootstrapMaterialDesign();
        $('[data-toggle="tooltip"]').tooltip();
        $('.dont-show').each(function (index) { $(this).removeClass('dont-show'); });
        $('.pub-modal-link').each(function (index) {
          var a = $(this);
          a.attr('data-toggle', 'modal');
          a.attr('href', '#pub-modal-' + a.data('pub'));
        });
        $('.card[data-id]').each(function (index) {
          var card = $(this);
          var selected = sessionStorage.getItem('selected');
          if (selected && card.data('id') === selected) {
            card.addClass('pub-card-animate');
            sessionStorage.removeItem('selected');
          }
        });
      });
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
      $(document).on('click', 'a[data-id]', function(event) {
        sessionStorage.setItem('selected', $(this).data('id'));
      });
    </script>
  </body>
</html>
