<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="css/ekko-lightbox.css">
    <link rel="stylesheet" href="css/main.css">

    <script>
      // https://github.com/twbs/bootstrap/issues/1768#issuecomment-13306753
      var shiftWindow = function() { scrollBy(0, -70) };
      window.addEventListener("hashchange", shiftWindow);
      function load() { if (window.location.hash) shiftWindow(); }
    </script>

    {% for page_desc in site.data.pages %}
      {% if page_desc.id == page.nav %}
        {% assign p = page_desc %}
      {% endif %}
    {% endfor %}

    <title>Lars Hupel {% if p.title != false %}&middot; {{ p.name }}{% endif %}</title>

    {% seo title=false %}
  </head>
  <body class="pb-4" onload="load();">

    <nav class="navbar navbar-expand-md fixed-top {{ p.nav_theme }}">
      <a class="navbar-brand" href="index.html">Lars Hupel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          {% for page_desc in site.data.pages %}
            <li class="nav-item {% if page_desc.id == page.nav %} active {% endif %}">
              <a class="nav-link" href="{{ page_desc.id }}.html">{{ page_desc.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    {{ content }}

    <div class="container">
      <hr>
      <footer class="footer">
        <small class="text-muted">Unless otherwise noted, all content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Copyright &copy; 2017 Lars Hupel.</small>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-material-design.min.js"></script>
    <script src="js/ekko-lightbox.min.js"></script>
    <script>
      $(document).ready(function() {
        $('body').bootstrapMaterialDesign();
        $('[data-toggle="tooltip"]').tooltip();
        $('.dont-show').each(function (index) { $(this).removeClass('dont-show'); });
      });
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
  </body>
</html>
