<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/roboto.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/css/ekko-lightbox.css">
    <link rel="stylesheet" href="/css/main.css">

    {% if page.codemirror %}
      <link rel="stylesheet" href="/css/codemirror.css">
    {% endif %}

    <!-- hyphenation polyfill -->
    <script>
      var Hyphenopoly = {
        require: {
          "de": "Silbentrennungsalgorithmus",
          "en": "Supercalifragilisticexpialidocious"
        },
        paths: {
          maindir: "/js/hyphenopoly/",
          patterndir: "/js/hyphenopoly/patterns/",
        },
        setup: {
          selectors: {
            ".hyphenate": {}
          }
        }
      };
    </script>
    <script src="/js/hyphenopoly/Hyphenopoly_Loader.js"></script>

    {% for page_desc in site.data.pages %}
      {% if page_desc.id == page.nav %}
        {% assign p = page_desc %}
      {% endif %}
    {% endfor %}

    {% if page.is_research %}
      {% assign page_name = page.topic %}
    {% elsif page.title %}
      {% assign page_name = page.title %}
    {% elsif p.title != false %}
      {% assign page_name = p.name %}
    {% else %}
      {% assign page_name = "" %}
    {% endif %}

    <title>Lars Hupel {% if page_name != "" %}&middot; {{ page_name }}{% endif %}</title>

    {% seo title=false %}
  </head>
  <body class="pb-4">

    <nav class="navbar navbar-expand-md {{ p.nav_theme }}" lang="en">
      <a class="navbar-brand" href="/">Lars Hupel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          {% for page_desc in site.data.pages %}
            {% if page_desc.subpages %}
              <li class="nav-item {% if page_desc.id == page.nav %} active {% endif %} dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-{{ page_desc.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ page_desc.name }}</a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-{{ page_desc.id }}">
                  {% for sub_page_desc in page_desc.subpages %}
                    <a class="dropdown-item" href="/{{ sub_page_desc.id }}/">{{ sub_page_desc.name }}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item {% if page_desc.id == page.nav %} active {% endif %}">
                <a class="nav-link" href="{% if page_desc.id == "index" %}/{% else %}/{{ page_desc.id }}/{% endif %}">{{ page_desc.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    {{ content }}

    <div class="container" lang="en">
      <hr>
      <footer class="footer">
        <small class="text-muted">
          Unless otherwise noted, all content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          Copyright &copy; 2017, 2018, 2019, 2020 Lars Hupel.
        </small>
      </footer>
    </div>

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
    <script src="/js/ekko-lightbox.min.js"></script>
    <script>
      $(document).ready(function() {
        $('body').bootstrapMaterialDesign();
        $('[data-toggle="tooltip"]').tooltip();
        $('.pub-modal-link').each(function (index) {
          var a = $(this);
          a.attr('data-toggle', 'modal');
          a.attr('data-target', '#pub-modal-' + a.data('pub'));
        });
        var hash = $(location).attr('hash');
        if (hash.startsWith('#pub-modal')) {
          history.replaceState("", document.title, window.location.pathname);
          setTimeout(function() { $(hash).modal(); }, 200);
        };
      });
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>

    {% if page.codemirror %}
      <script src="/js/codemirror.js"></script>
      <script src="/js/codemirror-js.js"></script>
      <script src="/js/html.js"></script>
      <script src="/js/interactive.js"></script>

      <script>
        $(document).ready(function() { initInteractive({{ page.interactive | jsonify }}); });
      </script>
    {% endif %}
  </body>
</html>
