---
layout: default
---

{% for page_desc in site.data.pages %}
  {% if page_desc.id == page.nav %}
    {% assign p = page_desc %}
  {% endif %}
  {% if page_desc.subpages %}
    {% for sub_page_desc in page_desc.subpages %}
      {% if sub_page_desc.id == page.id %}
        {% assign p = sub_page_desc %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="jumbotron">
  <header class="container">
    <h2 class="display-3">{{ p.long_title | escape }}</h2>
  </header>
</div>

<div class="container">

  <main>
    {{ content }}
  </main>

</div>
