---
layout: root
---

<link rel="stylesheet" href="{% link assets/research.css %}">

{% assign pub_id = page.name | split: "." | first %}
{% assign pub_desc = site.data.pubs | find_exp: "item", "item.id == pub_id" %}

<header>
  <h1>{{ page.title | escape }}</h1>
  {% include authors.html authors=pub_desc.authors %}
  <div>{{ pub_desc.in }}{% if pub_desc.in %}, {% endif %}{{ pub_desc.year }}</div>

  <p class="disclaimer">
    You are viewing an <a href="{% link _articles/publications-html.md %}">experimental HTML rendering</a> of this article.
    The original PDF version is <a href="/pub/{{ pub_id }}.pdf">also available</a>.
    Posted on {% include date.html date=page.date trailer="." %}
  </p>
</header>

<main>
  <div class="abstract hyphenate">
    <p>{{ pub_desc.abstract }}</p>
  </div>
  <hr>

  <article class="hyphenate">
    {{ content }}
  </article>
</main>
