<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{% asset favicon.ico @path %}">

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="{% asset simpleLightbox.min.css @path %}">
    <link rel="stylesheet" href="{% asset water.css @path %}">
    <link rel="stylesheet" href="{% asset main.css @path %}">

    <title>Lars Hupel &middot; {{ page.title | escape }}</title>

    <meta property="og:title" content="{{ page.title | escape }}" />
    <meta property="og:locale" content="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}" />
    <meta property="og:image" content="{{ site.url }}{% asset profile.jpg @path %}">
    <meta property="og:image:secure_url" content="{{ site.url }}{% asset profile.jpg @path %}">
    <meta property="og:url" content="{{ site.url }}{{ page.id }}" />
    <meta property="og:site_name" content="{{ site.title | escape }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@larsr_h" />
    <meta name="twitter:creator" content="@larsr_h" />
    <meta name="twitter:image:src" content="{{ site.url }}{% asset profile.jpg @path %}">

    <meta name="author" content="Lars Hupel" />
    <link rel="canonical" href="{{ site.url }}{{ page.id }}" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        {% if page.pub_date %}
          "@type": "Article",
          "datePublished": "{{ page.pub_date | date_to_xmlschema }}",
          "dateCreated": "{{ page.pub_date | date_to_xmlschema }}",
          "abstract":
            {% if page.abstract %}
              "{{ page.abstract | markdownify | strip_html | escape }}",
            {% else %}
              "{{page.content | strip_html | truncatewords: 50 | escape}}",
            {% endif %}
        {% else %}
          "@type": "WebPage",
        {% endif %}
        {% if page.hero %}
          "image": "{{ site.url }}{{ page.hero.src }}",
        {% endif %}
        "headline": "{{ page.title | escape }}",
        "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
        "url": "{{ site.url }}{{ page.id }}",
        "author": {
          "@type": "Person",
          "name": "Lars Hupel",
          "familyName": "Hupel",
          "gender": "non-binary",
          "url": "{{ site.url }}",
          "homeLocation": {
            "@type": "Place",
            "name": "München"
          }
        }
      }
    </script>
  </head>
  <body>

    <nav lang="en">
      <strong>Lars Hupel</strong>
      {% include nav.html %}
    </nav>

    {{ content }}

    <footer lang="en">
      Unless otherwise noted, all content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      Copyright &copy; 2017, 2018, 2019, 2020, 2021 Lars Hupel.
      <a href="/about/#impressum">Impressum</a>.
    </footer>

    <script src="{% asset simpleLightbox.min.js @path %}"></script>
    <script>
      new SimpleLightbox({ elements: ".lightbox" });
    </script>
  </body>
</html>
