<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{% link assets/favicon.ico %}">

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="{% link assets/simpleLightbox.min.css %}">
    <link rel="stylesheet" href="{% link assets/water.css %}">
    <link rel="stylesheet" href="{% link assets/main.css %}">

    {% if page.highlight %}
      <link rel="stylesheet" href="{% link assets/rouge.css %}">
    {% endif %}

    {% assign full_title = page.title %}
    {% if page.subtitle %}
      {% assign subtitle = page.subtitle %}
      {% assign full_title = full_title | append: ' · ' | append: subtitle %}
    {% endif %}

    <title>Lars Hupel · {{ full_title | escape }}</title>

    <meta property="og:title" content="{{ full_title | escape }}">
    <meta property="og:locale" content="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
    <meta property="og:image" content="{{ site.url }}{% link assets/profile.jpg %}">
    <meta property="og:image:secure_url" content="{{ site.url }}{% link assets/profile.jpg %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title | escape }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@larsr_h">
    <meta name="twitter:creator" content="@larsr_h">
    <meta name="twitter:image:src" content="{{ site.url }}{% link assets/profile.jpg %}">

    {% for profile in site.data.profiles %}
      <link href="{{ profile.link }}" rel="me">
    {% endfor %}

    <meta name="author" content="Lars Hupel">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        {% if page.url contains '/articles/' %}
          "@type": "Article",
          "datePublished": "{{ page.date | date_to_xmlschema }}",
          "dateCreated": "{{ page.date | date_to_xmlschema }}",
          "abstract":
            {% if page.abstract %}
              "{{ page.abstract | markdownify | strip_html | escape }}",
            {% else %}
              "{{page.content | strip_html | truncatewords: 50 | escape}}",
            {% endif %}
        {% else %}
          "@type": "WebPage",
        {% endif %}
        {% if page.hero %}
          "image": "{{ site.url }}/{{ page.hero.src }}",
        {% endif %}
        "headline": "{{ full_title }}",
        "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
        "url": "{{ site.url }}{{ page.url }}",
        "author": {
          "@type": "Person",
          "name": "Lars Hupel",
          "familyName": "Hupel",
          "gender": "non-binary",
          "url": "{{ site.url }}",
          "homeLocation": {
            "@type": "Place",
            "name": "München"
          }
        }
      }
    </script>
  </head>
  <body>

    <nav lang="en">
      <strong>Lars Hupel</strong>
      {% include nav.html %}
    </nav>

    {{ content }}

    <footer lang="en">
      Unless otherwise noted, all content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      Copyright &copy; 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024 Lars Hupel.
      <a href="{% link about.md %}#impressum">Impressum</a>.
    </footer>

    <script src="{% link assets/simpleLightbox.min.js %}"></script>
    <script>
      new SimpleLightbox({ elements: ".lightbox" });
    </script>
  </body>
</html>
