---
title: Verifikation von Smart Contracts
date: 2021-02-10
lang: de
abstract: |
  Smart Contracts sind eine Technologie, mit der man Code auf Blockchains ausführt.
  Eine Vielzahl von Geschäftsfällen werden inzwischen durch solche Verträge abgebildet.
  Ethereum ist dafür eine beliebte Plattform.
  In diesem Vortrag wollen wir uns anschauen, wie man die Qualität des Codes sicherstellen kann.
slides:
  file: "slides"
  length: 59
video: { id: "MI-EnUq_yFA" }
conferences:
  - conference: "Blockchain Technology Conference"
    location: Berlin, Deutschland
    date: 2019-11-13
    link: "https://blockchainconf.net/blockchain-advanced-development/verifikation-von-smart-contracts/"
    slides: "https://speakerdeck.com/larsrh/verification-of-smart-contracts"
  - conference: "INNOQ Technology Lunch"
    date: 2021-02-10
    link: "https://www.meetup.com/INNOQ-Technology-Lunch/events/276144224/"
    slides: "https://speakerdeck.com/larsrh/verification-of-smart-contracts-innoq-edition"
    recording: "https://www.youtube.com/watch?v=MI-EnUq_yFA"

---

## Artikel

Zu diesem Thema habe ich auch einen Artikel geschrieben, der [frei online](https://www.innoq.com/de/articles/2019/07/verifikation-von-smart-contracts/) verfügbar ist ([English version of the article](https://www.innoq.com/en/articles/2019/07/verifikation-von-smart-contracts/)).
