---
title: Verifikation von Smart Contracts
lang: de
abstract: |
  Smart Contracts sind eine Technologie, mit der man Code auf Blockchains ausführt.
  Eine Vielzahl von Geschäftsfällen werden inzwischen durch solche Verträge abgebildet.
  Ethereum ist dafür eine beliebte Plattform.
  In diesem Vortrag wollen wir uns anschauen, wie man die Qualität des Codes sicherstellen kann.
speakerdeck: "2f807f224b694378a376d22efd198a90"
video: { yt: "MI-EnUq_yFA" }
conferences:
  - conference: "Blockchain Technology Conference"
    year: 2019
    date: "13. November"
    location: Berlin, Deutschland
    link: "https://blockchainconf.net/blockchain-advanced-development/verifikation-von-smart-contracts/"
    slides: "https://speakerdeck.com/larsrh/verification-of-smart-contracts"
  - conference: "INNOQ Technology Lunch"
    year: 2021
    date: "10. Februar"
    location: Online
    link: "https://www.meetup.com/INNOQ-Technology-Lunch/events/276144224/"
    slides: "https://speakerdeck.com/larsrh/verification-of-smart-contracts-innoq-edition"
    recording: "https://www.youtube.com/watch?v=MI-EnUq_yFA"

---

## Artikel

Zu diesem Thema habe ich auch einen Artikel geschrieben, der [frei online](https://www.innoq.com/de/articles/2019/07/verifikation-von-smart-contracts/) verfügbar ist ([English version of the article](https://www.innoq.com/en/articles/2019/07/verifikation-von-smart-contracts/)).
